# Terraform junk & local state
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl

# Local env & artifacts
.env
infra/aws/**/backend.hcl.local
infra/aws/env/**/tfplan

# OS/editor
.DS_Store
Thumbs.db
