name: Auto Label
on:
  pull_request:
    branches: [ main ]
permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
